/* modal css */
.modalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  z-index: 10000;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 4px -1px #81858b;
  min-width: 400px;
  padding: 1rem;
}
.form {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}
.formHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.closeBtn {
  cursor: pointer;
}
.hr {
  width: 90%;
  margin: 0 auto;
  border: 0;
  border-top: 1px solid #dee2e6;
}
.formLabel {
  font-size: 0.786rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}
.input {
  border: 1px solid #e0e0e2;
  padding: 9px 12px;
  border-radius: 8px;
  color: #030a16;
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
}
.input:focus {
  border: 1px solid #febd69;
}

.btnContainer {
  padding: 0 1.2rem;
}
