@font-face {
  font-family: "iransans";
  src: url("/fonts/iransans.ttf");
}

:root {
  --main-color: #f3ba2f;
  --secondary-color: #232f3e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: iransans;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #f3ba2f;
}

body::-webkit-scrollbar-thumb {
  background: rgb(15, 221, 194);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
